body {
    margin: 0;
    font-family: 'Darker Grotesque', sans-serif;
}

.container {
    margin: 0 16px;
}

.page-section {
    position: relative;
    padding: 40px 0;
}

p { 
    margin: 0;
}


strong, a{
    color:  #a12575;
    text-decoration: none;
}

.headshot{
    height: 150px;
    width: auto;
    border-radius: 50%;
}

.hero {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    position: relative;
    background-color: #a12575;
    min-height: 15vh;
}

.hero:after {
    content: "";
    display: block;
    border-left: 100vw solid #a12575;
    border-top: 0;
    border-bottom: 17vw solid transparent;
    width: 0;
    position: absolute;
    left: 0;
    bottom: -webkit-calc(-17vw + 1px);
    bottom: -moz-calc(-17vw + 1px);
    bottom: calc(-17vw + 1px);
}

.text-white {
    color: #fff;
    margin: 0;
}

#sp-logo{
    height: auto;
    width: 230px;
}

.directory {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
}

.list-item {
    background: #fff;
    padding: 20px;
    border-radius: 5px;   
}

.directory div {
    background-color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 20px;
    border-radius: 20px;
    -webkit-box-shadow: 11px 11px 15px 5px rgba(0,0,0,0.27); 
    box-shadow: 11px 11px 15px 5px rgba(0,0,0,0.27);
    margin: 10px 0;
    height: auto;
  }

@media screen and (min-width: 768px) {
    .hero:after {
        border-bottom: 10vw solid transparent;
        bottom: -webkit-calc(-10vw + 1px);
        bottom: -moz-calc(-10vw + 1px);
        bottom: calc(-10vw + 1px);
    }

    .directory {
        grid-template-columns: 1fr 1fr 1fr;
    }
}